@charset "UTF-8";

/*All versions */

* {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1em;
    margin-top: 0px;
    padding: 0px;
    
}

html, body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
 
}

body {
    background-color:rgb(255, 253, 253);
    font-size: 18px;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

button {
    width: 19rem;
    height: 4.3rem;
    border: none;
    border-radius: 45px;
    margin-bottom: 30px;  
    color: white;
    font-weight: bold;
}

.greenButton {
    border-bottom: 2px solid rgb(17, 121, 105);
    margin-top: 3em;
    margin-right: 1.5em;
}

.blueButton {
    border-bottom: 2px solid rgb(47, 57, 136);
    margin-bottom: 200px;
}

.header {
    background-image: url("images/bg-header-desktop.png");
    height: 363px;
}

button:hover {
    background-color: rgb(117, 112, 112);
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }


h1 {
    font-size: 3.2rem;
    padding-top: 0;
   
}

p {
    font-size: 1.5rem;
    color:  hsl(201, 11%, 66%);
    line-height: 2.0em;
    
}

h1, h2, h3,p {
    margin-bottom: 8px;
    
    
}

h1, h2, h3 {
    color: hsl(210, 10%, 33%);
    line-height: 1.4em;
}

h2 {
    font-size: 2.8rem;
    margin-top: 150px;

}

h3 {
    font-size: 34px;
    margin-top: 50px;
}

.h1Text {
    
    margin-left: 27rem;
    margin-right: 27rem;
}

.imageText {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 0;
}

.imageHeader {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.244) 10%, rgba(226, 221, 225, 0.204)), url(images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 18em;

}

.h2Text {
    margin-bottom: 9rem;
    margin-left: 27rem;
    margin-right: 27rem;
}

.h2Text1 {
    margin-bottom: 2rem;
    margin-left: 27rem;
    margin-right: 27rem;
}

.textSearch {
    margin-left: 10rem;
    margin-right: 25rem;
    text-align: left;
}

.textSearch1 {
    margin-left: 10rem;
    margin-right: 25rem;
    text-align: left;
}

.textSearch2 {
    margin-left: 10rem;
    margin-right: 25rem;
    text-align: left;

}



.computerImg {
   width: 70rem;
    height: 40rem;
    margin-bottom: 20px;
    margin-top: 50px; 
    margin-left: -3rem;
   
 
}



.devicesImg {
    width: 70rem;
    height: 45rem;
    margin-top: 5rem;
}

.icons {
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    
}

.iconsAlign {
    display: flex;
    margin-right: 7rem;
    margin-left: 7rem;
    align-items: center;
  
    justify-content: center;
}

.webIcons {
    margin-top: 50px;
}

.cards1 {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 33%;

}

.cards2 {
    width: 33%;
}

.cards3 {
    width: 33%;
}




.googleImg {
    width: 139px;
    height: 41px;
    margin: 30px;
}

.imbImg {
    width: 104px;
    height: 41px;
    margin: 30px;   
}

.microsoftImg {
    width: 135px;
    height: 27px;
    margin: 30px;
}

.hewlettImg {
    width: 150px;
    height: 60px;
    margin: 30px;
}

.vectorImg {
    width: 135px;
    height: 35px;
    margin: 30px;
}

footer {
    background-color: hsl(210, 6%, 94%);
    align-items: center;
   display:flexbox;
    
}

.footerStyle {
    display: flex;
    width: 100%;
    align-items: center;
    height: 10rem;
}


.logoFooter {
    width: 55px;
    height: 55px;    
}

.logoFooterDiv {
    width: 20%;
   
}

.twitter {
    margin-left: 25px;
    margin-right: 25px;
}

.socialNetworks {
    margin-top: 30px;
    width: 20%;
    
}

.attribution {
    list-style: none;
    width: 60%;
    gap: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;

}



.pEspecial {
    color:hsl(210, 10%, 33%);
    
    
}

.pEspecial:hover {
    /* background-color:hsl(171,66%,44%); */
    /* color:rgb(47, 57, 136); */
    /* transform: translateY(-0.25rem); */
    color: darkblue;
    cursor: pointer;
}

.socialNetworks :hover {
    color:hsl(171,66%,44%);
    transform: translateY(-0.25rem);
}

.twitter :hover {
    color:hsl(171,66%,44%);
}


/*Mobile version */

@media (max-width: 375px) {
    /*body {
        width: 375px;
        margin: 30px, 10px, 30px, 10px;
    }

    p {
        font-size: 18px;
        padding: 10px;
    }

    .icons {
        display: relative;
        margin: 10px;
    }

    .headerDesktop {
        display: none
    }

    .logoImg {
        padding-left: 35%;
    }

    

    .icons {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    h1 {
        font-size: 36px;
        padding-top: 0;
    }
    
    p {
        font-size: 10px;
        color:  hsl(201, 11%, 66%);
        line-height: 2.0em;
        margin-left: 5px;
        margin-right: 5px;
        
    }
    
    h1, h2, h3,p {
        margin-bottom: 8px;
        
    }
    
    h1, h2, h3 {
        color: hsl(210, 10%, 33%);
        line-height: 1.4em;
    }
    
    h2 {
        font-size: 32px;
        margin-top: 150px;
    
    }
    
    h3 {
        font-size: 24px;
        margin-top: 40px;
    }
    
    
    .computerImg {
        width: 321px;
        height: 237px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    
    .devicesImg {
        width: 310px;
        height: 181px;
        margin-top: 50px;
    }

    
    

    
} */

body {
    background-color:rgb(255, 253, 253);
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
    
}

button {
    width: 280px;
    height: 70px;
    border: none;
    border-radius: 45px;
    margin-bottom: 30px;  
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.buttongreenblue {
    align-items: block;
}

.greenButton {
    border-bottom: 2px solid rgb(17, 121, 105);
    margin-top: 3em;
    margin-left: 1.6em;
 
}

.blueButton {
    border-bottom: 2px solid rgb(47, 57, 136);
    margin-bottom: 200px;
}



button:hover {
    background-color: rgb(117, 112, 112);
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }


h1 {
    font-size: 2.2rem;
    padding-top: 0;
   
}

p {
    font-size: 1.5rem;
    color:  hsl(201, 11%, 66%);
    line-height: 2.0em;
    
}

h1, h2, h3,p {
    margin-bottom: 8px;
    
    
}

h1, h2, h3 {
    color: hsl(210, 10%, 33%);
    line-height: 1.4em;
}

h2 {
    font-size: 1.9rem;
    margin-top: 150px;

}

h3 {
    font-size: 1.7rem;
    margin-top: 50px;
}

.h1Text {
    
    margin-left: 1rem;
    margin-right: 1rem;
}

.imageText {
    display: block;
    width: 100%;
    gap: 20px;
    margin-top: 0;
}

.imageHeader {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.244) 10%, rgba(226, 221, 225, 0.204)), url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 18em;

}

.h2Text {
    margin-bottom: 9rem;
    margin-left: 0rem;
    margin-right: 0rem;
}

.h2Text1 {
    margin-bottom: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
    
    align-items: center;
    justify-content: center;
}

.textSearch {
    margin-left: 4rem;
    margin-right: 0.2rem;
    text-align: center;
}

.textSearch1 {
    margin-left: 4rem;
    margin-right: 0.2rem;
    text-align: center;
}

.textSearch2 {
    margin-left: 4rem;
    margin-right: 0.2rem;
    text-align: center;

}



.computerImg {
    width: 50px;
    height: 15rem;
    margin-bottom: 20px;
    margin-top: 50px; 
    margin-left: 30px;
   
   
 
}



.devicesImg {
    width: 50px;
    height: 20rem;
    margin-top: 5rem;
}

.icons {
    height: 100%;
    display:block;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
    
}

.iconsAlign {
    display: block;
    margin-right: 7rem;
    margin-left: 7rem;
    align-items: center;
  
    justify-content: center;
}

.webIcons {
    margin-top: 50px;
}

.cards1 {
    margin-right: 3rem;
    margin-left: 3rem;
    width: 33%;

}

.cards2 {
    width: 33%;
}

.cards3 {
    width: 33%;
}




.googleImg {
    width: 139px;
    height: 41px;
    margin: 30px;
}

.imbImg {
    width: 104px;
    height: 41px;
    margin: 30px;   
}

.microsoftImg {
    width: 135px;
    height: 27px;
    margin: 30px;
}

.hewlettImg {
    width: 150px;
    height: 60px;
    margin: 30px;
}

.vectorImg {
    width: 135px;
    height: 35px;
    margin: 30px;
}

footer {
    background-color: hsl(210, 6%, 94%);
    align-items: center;
    display:block;
    
}

.footerStyle {
    display: block;
    align-items: center;
    height: 10rem;
}


.logoFooter {
    width: 55px;
    height: 55px;    
}

.logoFooterDiv {
    
   
}

.twitter {
    margin-left: 25px;
    margin-right: 25px;
}

.socialNetworks {
    margin-top: 30px;
   
    
}


}





/*Desktop version */

@media (min-width:376px) {
    .headerMobile {
        display:none;
    }

    
}
